/* Navigation CSS */

/* Sidebar Style */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

/* Profile Button */
.profile-button-container {
  position: fixed;
  top: 20px;
  right: 10%;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
}

.profile-button-container button {
  background: none;
  border: none;
  color: darkgrey;
  font-size: 24px;
}

/* Music Player Image Styles */
.music-player-image {
  align-items: center;
  position: fixed;
  top: 0;
  right: 17%;
  left: auto;
  width: 60%;
  z-index: -1;
}

/* Dropdown Menu */
.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 10%;
  z-index: 1;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-dropdown li {
  margin-bottom: 8px;
}

.profile-dropdown button {
  display: block;
  width: 100%;
  padding: 0px 4px;
  border: none;
  text-align: left;
  cursor: pointer;
  color: black;
  background-color: transparent;
}

.profile-dropdown button:hover {
  background-color: lightgrey;
}

.profile-dropdown.hidden {
  display: none;
}
