.page-container{
    display: flex;
   flex-direction: column;
   align-items: left;
   text-align: left;
   transition: all 0.3s;
   max-width: calc(100% - 10%);
   margin-left: 19%;
}

.parent {
    max-width: calc(100% - 10%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2 { grid-area: 1 / 3 / 3 / 5; }
    .div3 { grid-area: 3 / 3 / 4 / 5; }
    .div4 { grid-area: 4 / 2 / 5 / 4; }
    .div5 { grid-area: 1 / 1 / 2 / 5; }


.song-name-detail-id {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    margin-bottom: -15px;
}

.genre-detail-id{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;

}

.song-image-detail-id img {
    /* object-fit: cover; */
    max-width: calc(100% - 10%);
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    /* justify-content: center;
    align-items: center; */
  }

.no-song {
    font-size: 24px;
    text-align: center;
    margin: 20px;
    object-fit: cover;
    padding: 10px;
}

.song-image-detail-id.div1 {
    max-width: calc(100% - 10%);
    display: flex;
    justify-content: center;
    /* align-items: center; */ /* You can remove this line to center only horizontally */
    flex-direction: column; /* Optional if you want to center vertically */
  }
