.yesDeletePlaylist {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 24%;
  margin-top: 5px;
}

.deleteCon {
 width: 90%;
}
