/* MyPlaylistsPage.css */

.my-playlists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }


.playlist-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.playlist-tile:hover {
    transform: scale(1.02);
}


.playlist-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.playlist-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.created-by {
    font-size: 14px;
    color: #666;
  }
