/* Container Styles */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    transition: all 0.3s;
    max-width: calc(100% - 10%);
    margin-left: 19%;
  }

  .playlist-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  /* Song List Styles */
  .song-item {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .delete-button {
    margin-top: 5px;
  }
