/* MyPlaylistsPage.css */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Container Style */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  transition: all 0.3s;
  max-width: calc(100% - 10%);
  margin-left: 20%;
}

/* Playlist Tile */
.playlist-tile {
  display: grid;
  gap: 5px;
}

.playlist-name {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-bottom: -15px;
}
