.form-create {
    display: grid;
    justify-items: center;
    padding: 50px;
}

.page-container{
    display: flex;
   flex-direction: column;
   align-items: left;
   text-align: left;
   transition: all 0.3s;
   max-width: calc(100% - 10%);
   margin-left: 19%;
}

.error-message {
    color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0px;
    font-size: 12pt;
}

.label-create {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5px;
}
